{% extends 'Wowinternet/Base.html' %}
{% load static %}
{% block title %}Contactenos{% endblock %}
{% block botonesC %}
    <div class="collapse navbar-collapse" id="caviarNav">
        <ul class="navbar-nav ml-auto" id="caviarMenu">
            <li class="nav-item">
               <a class="nav-link" href="{% url 'Wowinternet:Index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Wowinternet:Servicios' %}">Servicios<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Pagina sin funcion <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block breadcumb %}
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/hero-4.jpg)">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h2>Contact</h2>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> <a href="">(668) 812-5656</a></p>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>Blvd. Rosales 401 locales 2 y 3 fraccionamiento. Scally 81240 Los Mochis</p>
                        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="">Soporte@woww.mx</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block Contenido %}
    <!-- ***** Contact Area Start ***** -->
    <div class="caviar-contact-area d-md-flex align-items-center" id="contact">
        <div class="contact-form-area d-flex justify-content-end">
            <div class="contact-form">
                <div class="contact-form-title">
                    <p>Enviar un Correo</p>
                </div>
                <form action="#">
                    <div class="row">
                        <div class="col-12">
                            <input type="text" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="col-12">
                            <input type="email" class="form-control" placeholder="Email a Recibir Respuesta">
                        </div>
                        <div class="col-12">
                            <textarea name="message" class="form-control" id="Message" cols="30" rows="10" placeholder="Mensaje a Enviar"></textarea>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn caviar-btn"><span></span> Enviar Mensaje</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="caviar-map-area wow fadeInRightBig" data-wow-delay="0.5s">
            <div id="googleMap"></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<!--Google maps-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk9KNSL1jTv4MY9Pza6w8DJkpI_nHyCnk"></script>
{% endblock %}