{% extends 'Wowinternet/Base.html' %}
{% load static %}
{% block title %}Servicios y Promociones{% endblock %}
{% block botonesC %}
    <div class="collapse navbar-collapse" id="caviarNav">
        <ul class="navbar-nav ml-auto" id="caviarMenu">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Wowinternet:Index'%}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="RedesSociales" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Redes Sociales</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://www.facebook.com/woww.internet/"><i class="fa fa-facebook" aria-hidden="true"> Facebook</i></a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Wowinternet:Contact' %}">Contactenos</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block breadcumb %}
    <!-- ***** Breadcumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/hero-2.jpg)">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h2>Servicios</h2>
                        <a href="#menu" id="menubtn" class="btn caviar-btn"><span></span>Promociones</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Breadcumb Area End ***** -->
{% endblock %}

{% block Contenido %}
    <!-- ***** Menu Area Start ***** -->
    <div class="caviar-food-menu section-padding-150 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="food-menu-title">
                        <h2>Servicios</h2>
                    </div>
                </div>

                <div class="col-10">
                    <div class="caviar-projects-menu">
                        <div class="text-center portfolio-menu">
                            <button class="active" data-filter="*">Paquete 1</button>
                            <button data-filter=".breakfast">Paquete 2</button>
                            <button data-filter=".lunch">Paquete 3</button>
                            <button data-filter=".dinner">Paquete 4</button>
                        </div>
                    </div>

                    <div class="caviar-menu-slides owl-carousel clearfix">

                        <div class="caviar-portfolio clearfix">
                            <!-- Single Gallery Item -->
                            <div class="single_menu_item breakfast wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="dish-thumb">
                                        <img src="{% static 'Wowinternet/img/menu-img/dish-1.png' %}" alt="">
                                    </div>
                                    <div class="dish-description">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                    </div>
                                    <div class="dish-value">
                                        <h3>$45</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Gallery Item -->
                            <div class="single_menu_item breakfast dinner wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="dish-thumb">
                                        <img src="{% static 'Wowinternet/img/menu-img/dish-2.png' %}" alt="">
                                    </div>
                                    <div class="dish-description">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                    </div>
                                    <div class="dish-value">
                                        <h3>$45</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Gallery Item -->
                            <div class="single_menu_item lunch wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="dish-thumb">
                                        <img src="{% static 'Wowinternet/img/menu-img/dish-3.png' %}" alt="">
                                    </div>
                                    <div class="dish-description">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                    </div>
                                    <div class="dish-value">
                                        <h3>$45</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Gallery Item -->
                            <div class="single_menu_item lunch wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="dish-thumb">
                                        <img src="{% static 'Wowinternet/img/menu-img/dish-1.png' %}" alt="">
                                    </div>
                                    <div class="dish-description">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                    </div>
                                    <div class="dish-value">
                                        <h3>$45</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Gallery Item -->
                            <div class="single_menu_item dinner wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="dish-thumb">
                                        <img src="{% static 'Wowinternet/img/menu-img/dish-2.png' %}" alt="">
                                    </div>
                                    <div class="dish-description">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                    </div>
                                    <div class="dish-value">
                                        <h3>$45</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="caviar-portfolio clearfix">
                            <!-- Single Gallery Item -->
                            <div class="single_menu_item breakfast wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="dish-thumb">
                                        <img src="{% static 'Wowinternet/img/menu-img/dish-1.png' %}" alt="">
                                    </div>
                                    <div class="dish-description">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                    </div>
                                    <div class="dish-value">
                                        <h3>$45</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Gallery Item -->
                            <div class="single_menu_item breakfast dinner wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="dish-thumb">
                                        <img src="{% static 'Wowinternet/img/menu-img/dish-2.png' %}" alt="">
                                    </div>
                                    <div class="dish-description">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                    </div>
                                    <div class="dish-value">
                                        <h3>$45</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Gallery Item -->
                            <div class="single_menu_item lunch wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="dish-thumb">
                                        <img src="{% static 'Wowinternet/img/menu-img/dish-3.png' %}" alt="">
                                    </div>
                                    <div class="dish-description">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                    </div>
                                    <div class="dish-value">
                                        <h3>$45</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Gallery Item -->
                            <div class="single_menu_item lunch wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="dish-thumb">
                                        <img src="{% static 'Wowinternet/img/menu-img/dish-1.png' %}" alt="">
                                    </div>
                                    <div class="dish-description">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                    </div>
                                    <div class="dish-value">
                                        <h3>$45</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Gallery Item -->
                            <div class="single_menu_item dinner wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="dish-thumb">
                                        <img src="{% static 'Wowinternet/img/menu-img/dish-2.png' %}" alt="">
                                    </div>
                                    <div class="dish-description">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                    </div>
                                    <div class="dish-value">
                                        <h3>$45</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="caviar-portfolio clearfix">
                            <!-- Single Gallery Item -->
                            <div class="single_menu_item breakfast wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="dish-thumb">
                                        <img src="{% static 'Wowinternet/img/menu-img/dish-1.png' %}" alt="">
                                    </div>
                                    <div class="dish-description">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                    </div>
                                    <div class="dish-value">
                                        <h3>$45</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Gallery Item -->
                            <div class="single_menu_item breakfast dinner wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="dish-thumb">
                                        <img src="{% static 'Wowinternet/img/menu-img/dish-2.png' %}" alt="">
                                    </div>
                                    <div class="dish-description">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                    </div>
                                    <div class="dish-value">
                                        <h3>$45</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Gallery Item -->
                            <div class="single_menu_item lunch wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="dish-thumb">
                                        <img src="{% static 'Wowinternet/img/menu-img/dish-3.png' %}" alt="">
                                    </div>
                                    <div class="dish-description">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                    </div>
                                    <div class="dish-value">
                                        <h3>$45</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Gallery Item -->
                            <div class="single_menu_item lunch wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="dish-thumb">
                                        <img src="{% static 'img/menu-img/dish-1.png' %}" alt="">
                                    </div>
                                    <div class="dish-description">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                    </div>
                                    <div class="dish-value">
                                        <h3>$45</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Gallery Item -->
                            <div class="single_menu_item dinner wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="dish-thumb">
                                        <img src="{% static 'img/menu-img/dish-2.png' %}" alt="">
                                    </div>
                                    <div class="dish-description">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                    </div>
                                    <div class="dish-value">
                                        <h3>$45</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ***** Menu Area End ***** -->
{% endblock %}
{% block Secciones %}
    <!-- ***** Special Menu Area Start ***** -->
    <section class="caviar-dish-menu clearfix" id="menu">
        <div class="container">
            <div class="row">
                <div class="col-12 menu-heading">
                    <div class="section-heading text-center">
                        <h2>Promociones</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                        <img src="{% static 'Wowinternet/img/menu-img/dish-1.png' %}" alt="">
                        <div class="dish-info">
                            <h6 class="dish-name">Lorem Ipsum Dolor Sit Amet</h6>
                            <p class="dish-price">$</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                        <img src="{% static 'Wowinternet/img/menu-img/dish-2.png' %}" alt="">
                        <div class="dish-info">
                            <h6 class="dish-name">Lorem Ipsum</h6>
                            <p class="dish-price">$</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                        <img src="{% static 'Wowinternet/img/menu-img/dish-3.png' %}" alt="">
                        <div class="dish-info">
                            <h6 class="dish-name">Lorem Ipsum Dolor Sit Amet</h6>
                            <p class="dish-price">$</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="socialShare">
            <div class="socialBox pointer">
                <span class="fa fa-share-alt"></span>
                <div id="socialGallery">
                    <div class="socialToolBox">
                        <a class="facebook" href=""><i class="fa fa-facebook"></i></a>
                        <a class="google" href=""><i class="fa fa-google-plus"></i></a>
                        <a class="instagram" href=""><i class="fa fa-instagram"></i></a>
                        <a class="tumblr" href=""><i class="fa fa-tumblr"></i></a>
                        <a class="twitter" href=""><i class="fa fa-twitter"></i></a>
                        <a class="youtube" href=""><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}